.Chats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    overflow-y: scroll;
}

.Chat{
    margin: 1rem 0;
    color: #fff;
    background: linear-gradient(90deg, #1986d8, #7b9cc2);
    padding: 1rem;
    max-width: 90%;
    border-radius: 20px; 
}
.Chat.user-msg {
    margin-left: auto;
    background:#2b2c33;
}

@media (min-width: 576px) {
    .Chat {
        max-width: 70%;
    }
}